<div class="ui inverted three item menu">
    <div class="ui simple dropdown item">
      <i class="volume up icon"></i>
      <a href="/instrumentos/tecla">Teclas</a>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/instrumentos/tecla/teclado">Teclado</a>
        <a class="item" href="/instrumentos/tecla/piano">Piano</a>
      </div>
    </div>
    <div class="ui simple dropdown item">
      <i class="volume up icon"></i>
      <a href="/instrumentos/sopor">Sopro</a>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/instrumentos/sopro/saxofone">Saxofone</a>
        <a class="item" href="/instrumentos/sopro/flauta">Flauta</a>
        <a class="item" href="/instrumentos/sopro/clarinete">Clarinete</a>
      </div>
    </div>
    <div class="ui simple dropdown item">
      <i class="volume up icon"></i>
      <a href="/instrumentos/corda">Cordas</a>

      
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/instrumentos/corda/violao">Violão</a>
        <a class="item" href="/instrumentos/corda/violino">Violino</a>
        <a class="item" href="/instrumentos/corda/guitarra">Guitarra</a>
        <a class="item" href="/instrumentos/corda/contrabaixo">Contrabaixo</a>
      </div>
    </div>
  </div>