<%- include('partials/head')%>
<%- include('partials/menu')%>
    <div class="ui container">
        <div class="ui column grid">
            <div class="row">
                <div class="ui eight wide column "><img class="ui image"src="<%=p.url%>"></div>
                <div class="ui eight wide column ">aaaAAAAAAAAAAAAAA</div>
            </div>
            <div class="row">
                teste
            </div>
        </div>
    </div>    
    

<%- include('partials/footer')%>